body
{
    display: relative;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(#d9afa9,#97d9e1);
    background: -o-linear-gradient(#d9afa9,#97d9e1);
    background: -moz-linear-gradient(#d9afa9,#97d9e1);
    background: linear-gradient(#d9afa9,#97d9e1);
    --img-url: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=350&h=350&fit=crop&crop=faces);
}


h1
{
    text-align: center;
    display: block;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
}



#myCanvas{
flex-shrink: 0;
	margin: 20px;
	width: 640px;
    height: 480px;
    border: 5px solid transparent;
    background: #d4f5d6;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.border-style{
    border-radius: 10%;
	border-color: linear-gradient(#f9f047, #0fd850);
}

a
{
    position: relative;
    display: inline-block;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg,#6e8efb, #a777e3);
}

span
{
    display: inline-block;
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 600px;
        height: 600px;
    }   
}

#textBlock
{
    position: absolute;
    width: 130px;
    height: 40px;
    font-size: 30px;
    outline: #FFECB3;
    background-color: #FFECB3;
    display: none;
}

.slidecontainer {
width: 100%;
}

.slider {
margin: 10px;
-webkit-appearance: none;
width: 50%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

img{
    max-width: 100%;
    max-height: 100%;
}
